/*  your css code here. If applicable */
:root{
	background-color: rgb(135, 206, 235) ;
	
}

p:first-child {
	color: white;
	background-color: black;
}

p:nth-child(2){
	color: black;
}
p:last-child{
	color: black;
}

li{
	background-color: grey;
	width: 50%;
}

li:first-child{
	font-size:22px;
}

li:last-child{
	font-size:22px;
}

li:nth-last-child(3) {
    background-color: pink;
}
